// align-content
%acs {
  align-content: $fs;
}
%ace {
  align-content: $fe;
}
%acc {
  align-content: $c;
}
%acsb {
  align-content: $sb;
}
%acsa {
  align-content: $sa;
}
%acstr {
  align-content: $s;
}
