// Requirements:
// Import these file below first:
// templates/_flexBaseVariable.scss

// align-self
%asa {
  align-self: $a;
}
%ass {
  align-self: $fs;
}
%ase {
  align-self: $fe;
}
%asc {
  align-self: $c;
}
%asbl {
  align-self: $bl;
}
%asstr {
  align-self: $s;
}
