$cocoaBrown: #322525;
$buccaneer: #63342d;
$capePalliser: #9a6449;
$antiqueBrass: #c58d69;
$tan: #d6ac88;
$transparentColor01: rgba(0, 0, 0, 0.1);

// re-defined to understand easier
$light-color: $tan;
$closeLight-color: $antiqueBrass;
$middle-color: $capePalliser;
$dark-color: $cocoaBrown;
$closeDark-color: $buccaneer;

$primary-color: $dark-color;
$secondary-color: $light-color;

$box-shadow: 0 10px 20px $transparentColor01, 0 6px 6px $transparentColor01;
$box-shadow-2: 0 5px 15px $transparentColor01, 0 6px 6px $transparentColor01;

body {
  background-color: $dark-color;
  color: $light-color;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: $light-color;
  color: $dark-color;
  border-radius: 10px;
  box-shadow: $box-shadow;
  padding: 50px 20px;
  text-align: center;
  max-width: calc(100% - 20px);
  width: 800px;
}

.joke {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 1px;
  margin: 50px auto;
  max-width: 600px;
}

h3 {
  margin: 0;
  letter-spacing: 2px;
  padding-bottom: 10px;
  border-bottom: 3px solid $middle-color;
}

img {
  width: 100px;
  margin-bottom: 20px;
}

.btn {
  background-color: $primary-color;
  color: $secondary-color;
  border: 0;
  border-radius: 10px;
  box-shadow: $box-shadow-2;
  padding: 14px 40px;
  font-style: 16px;
  cursor: pointer;

  &:active {
    transform: scale(0.98);
  }

  &:focus {
    outline: 0;
  }
}
